body {
    font-family: serif Georgia;
}

h1 {
    color: #075F5A;
    text-align: center;
}

h2 {
    color: #116045;
}


.products-card {
    background-color: #F0FDFA;
    border: 1px solid #441306;
    padding: 20px;
    margin: 20px;
    text-align: center;
    display: inline-block;
    width: 250px;
    height: 500px;
    vertical-align: top;
}